#main {
    background:#949B96;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Times New Roman";
}
  
#title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
#img-div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#image {
    max-width: 50%;
    border-radius: 25px;
    border: solid 1px #aaa;
  }
  
div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    text-align: justify;
}
  
  